.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	margin-right: 20px;
	font-size: 16px;
    margin-bottom: 1rem;
    cursor: pointer;
	float: right;
	margin-top: 15px;

}

.dv-content{
    margin:2rem;
	box-shadow: 1px 0px 7px rgb(0 0 0 / 30%);
    margin-top: 10px;
}

.r6o-connections-edge-path{
	display: none;
}
.r6o-connections-edge-label{
	display: none;
}
.r6o-connections-edge{
	display: none;
}
